/*
 * -------------------------------------------------
 *   Nextflow config file
 *   Author: Chunxiao Liao
 * -------------------------------------------------
 * Default config options for all environments.
 */


params {
    oneRef = 'The_X_team:/References/human_hs37d5.fasta'
    outputDir = 'output'
    //This has to be absolute dir, /PATH_TO/phylo_programs/
    program = '/Users/chunxiaoliao/The_X_team/scripts'
    vcfPath = 'The_X_team:/ReadVCF/cuteSV_v108_hg37_hg002_g4015_8reads.vcf.gz'
    contigPath = 'The_X_team:/Assemblies/*.'
}

